{% extends "base.html" %}
{% block head %}
    Crear usuario
    <a href="/">Home</a>
{% endblock %}

{%  block body %}
    {% set userdata = [] %}
    <p style="color:white">
    {% for item in request.args.get('some_list', '').split(',') %}
        {{ userdata.append(item) }}
    {% endfor %}}
    </p>
    <div class="container">
    <form action="{{ url_for('show_edit') }}" method="POST">
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="Instancia">Instancia</label>
                    <input type="text" class="form-control" id="contract_instance" name="contract_instance" placeholder="Instancia">
                </div>
                <div class="col">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Nombre" value="{{ userdata[0] }}">
                </div>
                <div class="col">
                    <label for="Apellido">Apellido</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Apellido" value="{{ userdata[1] }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="Título">Título</label>
            <input type="text" class="form-control" id="degree" name="degree" placeholder="Título" value="{{ userdata[3] }}">
        </div>
        <div class="form-group">
            <label for="Minor">Minor</label>
            <input type="text" class="form-control" id="minor" name="minor" aria-describedby="minorInfo" placeholder="Minor" value="{{ userdata[5] }}">
            <small id="minorInfo" class="form-text text-muted">En caso de no tener Minor, ingrese "N/A" (sin comillas).</small>
        </div>
        <div class="form-group">
            <label for="Teléfono">Teléfono</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Teléfono" value="{{ userdata[8] }}">
        </div>
        <div class="form-group">
            <label for="Universidad">Universidad</label>
            <input type="text" class="form-control" id="school" name="school" placeholder="Universidad" value="{{ userdata[2] }}">
        </div>
        <div class="form-group">
            <label for="Graduación">Graduación</label>
            <input type="text" class="form-control" id="graduation" name="graduation" placeholder="Graduación" value="{{ userdata[4] }}">
        </div>
        <div class="form-group">
            <label for="Edad">Edad</label>
            <input type="text" class="form-control" id="age" name="age" placeholder="Edad" value="{{ userdata[7] }}">
        </div>
        <div class="form-group">
            <label for="Información Adicional">Información Adicional</label>
            <input type="text" class="form-control" id="extras" name="extras" placeholder="Extra" value="{{ userdata[6] }}">
        </div>
        <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    </form>
    </div>
{% endblock %}