{% extends "base.html" %}
{% block head %}
{% endblock %}

{%  block body %}
    <div class="container">
    <form action="{{ url_for('get_certificado') }}" method="POST">
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="Nombre">Instancia_Contrato</label>
                    <input type="text" class="form-control" id="contract_instance" name="contract_instance" placeholder="Agruegue aqui la instancia de contrato que le fue otorgada por la universidad">
                </div>
                
            </div>
        </div>
        
        
        
        <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    </form>
    </div>
{% endblock %}