{% extends 'base.html' %}

{% block head %}
<title>ID {{g.user}}</title>
{% endblock %}

{% block body %}
<body style="background:url({{'static/gris.jpg'}});">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="create_oferta">Crear oferta</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="manage_ofertas">Ver ofertas creadas y candidatos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search_candidatos">Buscar candidatos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="list_candidatos">lista candidatos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="perfil">Editar Perfil</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container"></div>
  <div class="w-85 p-3">
  <div class="card">
  
      <table class="table">
        
        <thead>
          <tr>
            <th scope="col">Empresa</th>
            <th scope="col">Fecha Publicacion</th>
            <th scope="col">Area de Trabajo</th>
            <th scope="col">Cargo Requerido</th>
            <th scope="col">Ver candidato</th>
          </tr>
        </thead>
        
        <tbody>
          {% for data in userdata %}
          <tr>
            <th scope="row">{{data[1]}}</th>
            <td>{{data[2]}}</td>
            <td>{{data[3]}}</td>
            <td>{{data[4]}}</td>
            <td><form action="{{ url_for('home2') }}" method="POST" ><button class="btn btn-danger" type="submit" name="id_oferta" value="{{data[0]}}"><span class="glyphicon glyphicon-trash"></span>link</button> </form></td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    
    
  </div>
  </div>
</div>

{% endblock %}