<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-
        awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/search.css">
    </head>
    <body>
        <h1><center>Buscar ofertas</center></h1>
        <form class="example" method="post" action="" 
         style="margin:auto;max-width:600px">
            <input type="text" placeholder="Buscar por empresa o necesidades" name="oferta">
            <button type="submit"><i class="fa fa-search"></i>
            </button>
        </form>
        <p></p>
        <center>
            <table class="table">
        <thead>
            <tr>
             <th scope="col">Empresa</th>
            <th scope="col">Nombre Reclutador</th>
            <th scope="col">Apellido Reclutador</th>
            <th scope="col">Cargo</th>
            <th scope="col">Fecha de publicacion</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Area de trabajo</th>
            <th scope="col">Jornada</th>
            <th scope="col">Sueldo</th>
            <th scope="col">Beneficios</th>
            <th scope="col">Carrera requerida</th>
            <th scope="col">Experiencia laboral requerida</th>
            <th scope="col">Idiomas requeridos</th>
            <th scope="col">Otros requerimientos</th>
            <th scope="col">Agregar</th>
            </tr>
        </thead>
        <tbody>
        {% for x in data %}
            <tr>
               <td scope="row">{{ x[0] }}</td>
               <td>{{ x[1] }}</td>
               <td>{{ x[2] }}</td>
               <td>{{ x[3] }}</td>
               <td>{{ x[4] }}</td>
               <td>{{ x[5] }}</td>
               <td>{{ x[6] }}</td>
               <td>{{ x[7] }}</td>
               <td>{{ x[8] }}</td>
               <td>{{ x[9] }}</td>
               <td>{{ x[10] }}</td>
               <td>{{ x[11] }}</td>
               <td>{{ x[12] }}</td>
               <td>{{ x[13] }}</td>
               <td class="Button" onclick="location.href='add_oferta?id={{ x[14] }}'">agregar</td>
            </tr>
            {% endfor %}
        </tbody>
        </center>
    </body>
</html>