{% extends "base.html" %}
{% block head %}
    Crear usuario
    <a href="/">Home</a>
{% endblock %}

{%  block body %}
    <div class="container">
    <form action="{{ url_for('sign_up_candidato') }}" method="POST">
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Nombre">
                </div>
                <div class="col">
                    <label for="Apellido">Apellido</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Apellido">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="contraseña">contraseña</label>
                    <input type="text" class="form-control" id="pass" name="pass" placeholder="contraseña">
                </div>
                <div class="col">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="email">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="Universidad">Universidad</label>
            <input type="text" class="form-control" id="university" name="university" placeholder="Universidad">
        </div>
        <div class="form-group">
            <label for="Título">Título</label>
            <input type="text" class="form-control" id="degree" name="degree" placeholder="Título">
        </div>
        <div class="form-group">
            <label for="Minor">Minor</label>
            <input type="text" class="form-control" id="minor" name="minor" aria-describedby="minorInfo" placeholder="Minor">
            <small id="minorInfo" class="form-text text-muted">En caso de no tener Minor, ingrese "N/A" (sin comillas).</small>
        </div>
        <div class="form-group">
            <label for="Aptitudes">Aptitudes</label>
            <input type="text" class="form-control" id="apt" name="apt" placeholder="Aptitudes">
        </div>
        <div class="form-group">
            <label for="Logros">Logros</label>
            <input type="text" class="form-control" id="ach" name="ach" placeholder="Logros">
        </div>
        <div class="form-group">
            <label for="Experiencia Laboral">Experiencia Laboral</label>
            <input type="text" class="form-control" id="exp" name="exp" placeholder="Experiencia Laboral">
        </div>
        <div class="form-group">
            <label for="Aptitudes">Extras</label>
            <input type="text" class="form-control" id="extra" name="extra" placeholder="Intangibles de usted que considere valiosos">
        </div>
        <div class="form-group">
            <label for="Teléfono">Teléfono</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Teléfono">
        </div>
        <div class="form-group">
            <label for="dirección">dirección</label>
            <input type="text" class="form-control" id="adress" name="adress" placeholder="dirección">
        </div>
        <div class="form-group">
            <label for="nacimiento">nacimiento</label>
            <input type="text" class="form-control" id="birth" name="birth" placeholder="nacimiento">
        </div>
        <div class="form-group">
            <label for="sexo">sexo</label>
            <input type="text" class="form-control" id="sex" name="sex" placeholder="sexo">
        </div>
        
        <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    </form>
    </div>
{% endblock %}